basepipeGT.py
basepipe.py
basepipeTextOnly.py
chair
cp_init_pro.py

dataset38
datasetmake
environment.yml
evalclip.py
getimg.py
gt.txt

input
lx_tmp_scripts
output
output-ablation-wo-feedback
output-ablation-wo-memory
output-ablation-wo-prevmodel
output-baseline
output-baseline-combined_images
output-baseline-combined_images-idea23d
output-baseline-combined_TextOnly
output-baseline-GT
output-baseline-llavacot
output-baseline-TextOnly
output-dataset38
output-gpt4o_FLUX-1-DEV_InstantMesh-image-full
output-llavacot

pipeline-ablation.py
pipeline-ablation-wo-feedback.py
pipeline-ablation-wo-memory.py
pipeline-ablation-wo-prevmodel.py
pipeline-llavacot.py

render
tool-bak

allfiles.txt
requirements.txt